<div class="main-container">
    <div class="d-flex flex-column">
        <div class="card" style="background-color: rgb(32, 32, 32);"> 
            <div class="card-body">
                <h3 class="text-info">Basic Information</h3>
                <hr>
                <div class="d-flex mb-2 me-auto">
                    <span class="text-muted"> Name: </span>
                </div>
                <span *ngIf="nameError != ''"
                        style="font-size: 12px; color: red; ">{{nameError}}
                    </span>
                <div  class="mb-2">
                    <input type="text" [(ngModel)]="assetName" class="form-control" placeholder="Enter a name..." aria-label="name" (input)="updateName()">
                </div>
                <div class="d-flex mb-2 me-auto">
                    <span class="text-muted"> Description: </span>
                </div>
                <div  class="mb-2">
                    <textarea class="form-control"  [(ngModel)]="assetDescription" aria-label="With textarea" placeholder="Type in a description..." style="height: 110px;"></textarea>
                </div>
                <div  class="d-flex align-items-start col-5 mb-3">
                    <input type="text" [(ngModel)]="newTag" class="form-control" placeholder="Add a tag" aria-label="name" >
                    <button class="btn btn-info ms-2 me-2" (click)="addTag(newTag)" ><i class="bi bi-plus"></i></button>
                    <select class="form-select" (change)="changeType($event)">
                        <option value=""> Select a type...</option>
                        <option *ngFor="let type of types | keyvalue" [value]="type.value">{{type.value}}</option>
                      </select>
                </div>
                <div class="d-flex"> 
                    <span  *ngFor="let tag of tags; index as i" class="badge rounded-pill text-bg-primary me-2 mb-2">{{tag}}
                       <i class="bi bi-x" (click)="removeTag(i)"></i>
                    </span>
                    <span *ngIf="assetTypeError != ''"
                        style="font-size: 12px; color: red; ">{{assetTypeError}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-between mt-2">
        <div class="col-8">
            <div class="card" style="background-color: rgb(32, 32, 32);"> 
                <div class="card-body">
                    <h3 class="text-info">Media</h3>
                    <span class="text-info text-sm">  Leave this field empty if you do not wish to update main image</span> 
                    <hr>
                    <span class="text-muted"> Main Image: </span>
                    <br>
                    <div class="d-inline-flex bd-highlight">
                        <input class="form-control mt-2 mb-2" type="file" id="formFileMultiple" #imageInput (change)="onImageInput(imageInput.files)" />
                    </div>     
                    <div class="d-flex me-auto align-items-center" *ngIf="image != null" >
                        <img style="max-width: 80px;" src="{{imageSrc}}" alt="main_pic" accept="image/png, image/bmp, image/jpg, image/jpeg"/>
                        <i class="bi bi-x" style="font-size: 30px;" (click)="removeImage()"></i>
                    </div>
                    <hr>
                    <span class="text-muted "> Gallery: </span> 
                    <br>
                    <div class="d-inline-flex bd-highlight">
                        <input class="form-control mt-2 mb-2" type="file" id="formFileMultiple" #galleryInput multiple (change)="onGalleryInput(galleryInput.files)"/>
                    </div>
                    <div class="d-flex me-auto align-items-center" *ngIf="gallery != null" >
                        <div *ngFor="let imageSrc of gallerySrc; index as i">
                            <img style="max-width: 80px; margin-right: 5px;" src="{{imageSrc}}" alt="main_pic" accept="image/png, image/bmp, image/jpg, image/jpeg"/>
                            <i class="bi bi-x" style="font-size: 30px;" (click)="removeGalleryImage(i)"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="background-color: rgb(32, 32, 32);"> 
                <div class="card-body">
                    <h3 class="text-info">File</h3>
                    <span class="text-info text-sm">  Leave this field empty if you do not wish to update the file</span> 
                    <hr>
                    <input class="form-control mt-2 mb-2" type="file" id="formFileMultiple" #fileInput (change)="onFileInput(fileInput.files)" accept=".zip" />
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center flex-column mx-auto col-3 mt-3">
        <button class="btn btn-info" (click)="upload()">Upload</button>
    </div>
</div>