<div class="main-container">
    <div>
        <div class="row">
            <div class="  align-items-left text-left">
                <h3 class="text-info"> <strong> {{user?.username}}</strong></h3>
                <h4 *ngIf="isAdmin" style="margin-left: 5px;" class="text-muted font-size-sm">(Admin)</h4>
                <h4 *ngIf="user?.suspended" class="text-danger font-size-sm">(Suspended)</h4>
                <p class="font-size-md"> <strong> {{user?.name}} {{user?.surname}} </strong></p>
            </div>
        </div>

        <div class="row">
            <div class="col-5">
                <div class="card" style="background-color: rgb(32, 32, 32);">
                    <div class="card-body">
                        <div class=" flex-column align-items-left text-center">
                            <img src="{{avatarSource}}" alt="profile_pic" class="rounded-circle" style="object-fit:cover" width="200"  height="200">       
                        </div>
                        <div class=" flex-column align-items-left text-left" style="margin: 10px;">
                            <p *ngIf="user?.country != null" class="text-muted font-size-sm">Country: {{user?.country}} </p>
                            <p *ngIf="user?.joinDate != null" class="text-muted font-size-sm">Joined: {{user?.joinDate}} </p>
                        </div>
                        <div class=" flex-column align-items-left text-center" *ngIf="canEdit">
                            <hr>
                            <ul class="navbar-nav me-auto">
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="edit"><i class="bi bi-pencil-square"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-7">
                <div class="card" style="background-color: rgb(32, 32, 32);">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-left text-left">
                            <h3>About</h3>
                            <hr>
                            <p class="text-muted font-size-sm">{{user?.biography || "This person prefers to remain mysterious..."}}</p>
                            <br>
                            <h3>Interests</h3>
                            <hr>
                            <p class="text-muted font-size-sm">{{user?.interests || "No interests to show..."}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>