.main-container{
    max-width: 80rem;
    text-align: left;
}

.card-grid {
    display: grid; /* 1 */
    grid-template-columns: repeat(auto-fill, 600px); /* 2 */
    grid-gap: 1rem; /* 3 */
    justify-content: space-between; /* 4 */
  }

.remove-like:hover{
    color: red;
    transform: scale(1)
}