<div class="main-container">
    <div class="d-flex justify-content-center"><h1 class="text-info"><strong>Welcome to Warehouse!</strong></h1></div>
    
    <div class="d-flex justify-content-center">
       <h4 class="text-muted text-center">To get you started, you can check the categories above or if you don't have an account, <br> you can create it 
            <a class="text-primary" routerLink="/register"><strong>here</strong></a> !
        </h4></div>
    <br>
    <hr>
    <div class="d-flex"> <h2>Hottest Assets</h2> <h2> <i class="ms-2 bi bi-fire text-warning"></i> </h2> </div>
    <div *ngIf="popularAssets.length != 0 else noPopular" id="popularAssets" class="card-grid">
    
        <div *ngFor="let asset of popularAssets; index as i;" class="card p-3"
            style="background-color: rgb(32, 32, 32); max-width: 290px;  margin-bottom: 10px;">
            <a routerLink="/asset/{{asset.id}}" style="color: white; text-decoration: none;" >
                <img class="card-img-top" src="assets/user_id_{{asset.userId}}/asset_id_{{asset.id}}/main.jpg" alt="Card image cap"
                style="height: 190px;  object-fit:cover; margin-top: 5px;" >     
                <p class="mt-2 text-info"><strong>{{asset.name}}</strong></p> 
            </a> 
            <div class="d-flex flex-column align-items-left text-left" style="margin-top: 5px">
                <div>
                    <p class="text-muted">by: 
                        <strong><a class="link-opacity-10 text-info" href="http://localhost:4200/user/{{asset.userId}}">{{asset.author}}</a></strong>   
                    <hr>
                </div>
                <div>
                    <p class="text-muted text-align-left">{{truncate(i, popularAssets)}}</p>
                </div>
                <div class="d-flex" style="margin-top: 10px;">
                    <p class="text-muted text-sm me-2" style="font-size: 16px">
                        <i class="bi bi-file-earmark-arrow-down-fill text-primary"></i> {{asset.downloads}}</p>
                    <p class="text-muted text-sm" style="font-size: 16px">
                        <i class="bi bi-heart-fill color-danger" style="color: red;"></i> {{asset.userIdLikes.length}}</p>
                    <small class="text-muted ms-auto " style="font-size: 16px">
                        <i class="bi bi-calendar-week"></i> {{asset.uploadDate}}</small>
                </div>
                <div *ngIf="asset.userId == authService.loggedUser?.id" class="row justify-content-end">
                    <button routerLink="/asset/{{asset.id}}/edit" class="btn btn-seoondary btn-sm text-muted" style="width: auto;"><i class="bi bi-pencil-fill"></i> Edit</button>
                </div>
            </div>
        </div>
       
    </div>
    <br>
    <hr>
    <div class="d-flex"> <h2>Newest Assets</h2> <h2> <i class="ms-2 bi bi-calendar-heart-fill text-success"></i> </h2> </div>
    <div *ngIf="newestAssets.length != 0 else noPopular" id="RecentAssets" class="card-grid">

        <div *ngFor="let asset of newestAssets; index as i;" class="card p-3"
        style="background-color: rgb(32, 32, 32); max-width: 290px;  margin-bottom: 10px;">
        <a routerLink="/asset/{{asset.id}}" style="color: white; text-decoration: none;" >
            <img class="card-img-top" src="assets/user_id_{{asset.userId}}/asset_id_{{asset.id}}/main.jpg" alt="Card image cap"
            style="height: 190px;  object-fit:cover; margin-top: 5px;" >     
            <p class="mt-2 text-info"><strong>{{asset.name}}</strong></p> 
        </a> 
        <div class="d-flex flex-column align-items-left text-left" style="margin-top: 5px">
            <div>
                <p class="text-muted">by: 
                    <strong><a class="link-opacity-10 text-info" href="http://localhost:4200/user/{{asset.userId}}">{{asset.author}}</a></strong>   
                <hr>
            </div>
            <div>
                <p class="text-muted text-align-left">{{truncate(i, newestAssets)}}</p>
            </div>
            <div class="d-flex" style="margin-top: 10px;">
                <p class="text-muted text-sm me-2" style="font-size: 16px">
                    <i class="bi bi-file-earmark-arrow-down-fill text-primary"></i> {{asset.downloads}}</p>
                <p class="text-muted text-sm" style="font-size: 16px">
                    <i class="bi bi-heart-fill color-danger" style="color: red;"></i> {{asset.userIdLikes.length}}</p>
                <small class="text-muted ms-auto " style="font-size: 16px">
                    <i class="bi bi-calendar-week"></i> {{asset.uploadDate}}</small>
            </div>
            <div *ngIf="asset.userId == authService.loggedUser?.id" class="row justify-content-end">
                <button routerLink="/asset/{{asset.id}}/edit" class="btn btn-seoondary btn-sm text-muted" style="width: auto;"><i class="bi bi-pencil-fill"></i> Edit</button>
            </div>
        </div>
    </div>

    </div>
    <ng-template #noPopular>
        <h4 class="color-mutd"> No Assets found...</h4>
    </ng-template>
</div>

