<div class="main-container">
  <div *ngIf="isUserLoaded; else notLoaded">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-user-profile-tab" data-bs-toggle="pill" data-bs-target="#user-profile"
          type="button" role="tab" aria-controls="pills-home" aria-selected="true">Profile</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-user-assets-tab" data-bs-toggle="pill" data-bs-target="#user-assets"
          type="button" role="tab" aria-controls="pills-assets" aria-selected="false">Assets</button>
      </li>
      <li class="nav-item ms-auto" role="presentation">
        <button class="nav-link" id="pills-user-favorite-assets-tab" data-bs-toggle="pill" data-bs-target="#user-favorite-assets"
          type="button" role="tab" aria-controls="pills-assets" aria-selected="false">Favorites</button>
      </li>
    </ul>
    <hr>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="user-profile" role="tabpanel" aria-labelledby="pills-user-profile-tab">

        <app-user-profile [id]="id"></app-user-profile>

      </div>
      <div class="tab-pane fade" id="user-assets" role="tabpanel" aria-labelledby="pills-user-assets-tab">
        <div class="d-flex flex-row">
          <div class="dropdown p-2">
            <button class="btn btn-secondary dropdown-toggle" style="font-size: 12px" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Asset Type
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="javascript:void(0);" (click)="setType('OBJECT')">3D Objects</a></li>
              <li><a class="dropdown-item" href="javascript:void(0);" (click)="setType('TEXTURE')">Texture</a></li>
              <li><a class="dropdown-item" href="javascript:void(0);" (click)="setType('AUDIO')">Audio</a></li>
              <li><a class="dropdown-item" href="javascript:void(0);" (click)="setType('VFX')">VFX</a></li>
              <li><a class="dropdown-item" href="javascript:void(0);" (click)="setType('GUI')">GUI</a></li>
            </ul>
          </div>
          <div class="p-2">
           
          </div>
        </div>
       
        <app-assets-list *ngIf="loadAssets" [id]="id" [assetType]="assetType"></app-assets-list>

      </div>
      <div class="tab-pane fade" id="user-favorite-assets" role="tabpanel" aria-labelledby="pills-user-favorite-assets-tab">

        <app-favorite-assets [id]="id"></app-favorite-assets>

      </div>
    </div>

  </div>
  <ng-template #notLoaded>
    <h6 class="text-info"> <i class="bi bi-arrow-clockwise"></i> Loading...</h6>
  </ng-template>

</div>