<div class="main-container">
    <div *ngIf="loaded" style="background-color: rgb(32, 32, 32); margin-bottom: 10px; padding: 10px ;height: 5rem;">
        <div class="row align-items-left text-left">
            <h4>Statistics</h4>
            <p>Total number: {{users.length}}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-4">
            <div class="card" style="background-color: rgb(32,32,32);">
                <div class="card-body">
                    <h6 class="text-warning">TODO: Sorting, Filtering</h6>
                </div>
            </div>
        </div>
        <div class="col-8 ">
            <div *ngIf="loaded else notLoaded" class="row ">
                <a *ngFor="let user of users; index as i" class="card mx-auto" href="http://localhost:4200/user/{{user.id}}" 
                style="background-color: rgb(32, 32, 32); max-width: 250px; margin-bottom: 10px; color: white; text-decoration: none;">
                    <div class="card-body">
                        <div class=" flex-column align-items-left text-center">
                            <img src="{{user.avatar.split('src\\')[1]}}" alt="profile_pic" class="rounded-circle" style="object-fit:cover" width="150"  height="150">       
                        </div>
                        <hr>
                        <div class="flex-column text-center" style="margin: auto;">  
                            <p class="text-info">{{user.username}}</p> <span *ngIf="user.role == 'ADMIN' " class="text-muted"> (Superuser) </span>
                        </div>
                    </div>
                </a>
            </div>
            <ng-template #notLoaded>
                <h6 class="text-info"> <i class="bi bi-arrow-clockwise"></i> Loading...</h6>
            </ng-template>
        </div>
    </div>
</div>
