<div class="main-container">
    <div *ngIf="assets.loaded" style="background-color: rgb(32, 32, 32); margin-bottom: 5px; padding: 5px ;height: 3rem;">
        <div class="d-flex align-items-end text-left">
            <h4> <i class="bi bi-bar-chart-fill text-primary me-2"></i> </h4>
            <h4 class="text-muted"> Total number: {{assets.numberOfItems}} </h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-3">
            <app-asset-sort-filter></app-asset-sort-filter>
        </div>
        <div class="col-9">
            <app-assets-list #assets [assetType]="assetType"></app-assets-list>
        </div>
    </div>
</div>


