.registration-container{
    margin: 1rem auto;
    padding: 1rem 1rem;
    max-width: 25rem;
    text-align: left;
    background-color: rgb(31, 31, 31);
}

.confirmation-container{
    margin: 1rem auto;
    padding: 1rem 1rem;
    max-width: 35rem;
    text-align: left;
    background-color: rgb(31, 31, 31);
}

