<div>
    <div *ngIf="registrationSuccess else registration">
        <div class="confirmation-container ">
            <div class="d-flex justify-content-center">
                <i class="bi bi-envelope-paper-heart-fill" style="color: rgb(0, 188, 140); font-size: 70px;"></i>
            </div>
            <div class="d-flex justify-content-center">
                <h2 class="text-info">Thank you for registering!</h2>
            </div>
            <hr>
            <br>
            <div class="justify-content-center">
                <p style="text-align: center;">Before you can log in, please verify your account. <br>
                    An e-mail has been sent to: <br> </p>
                <p class="text-info" style="text-align: center;"> {{email}} </p>
            </div>
            <hr>
            <div class="d-flex justify-content-center">
                <a href="http://localhost:4200/login" class="link-primary">Log In</a>
            </div>
        </div>
    </div>
    <ng-template #registration>
        <div class="signup-form registration-container">
            <form [formGroup]="registrationForm" (ngSubmit)="register()">
                <h2 class="form-group d-flex justify-content-center">Registration</h2>
                <hr>
                <div class="form-group" style="margin-bottom: 10px;">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-fill"></i></span>
                        </div>
                        <input type="text" class="form-control" name="username" formControlName="username"
                            [ngClass]="{'is-invalid': submitted && registrationForm.controls.username.errors}"
                            placeholder="Username" [(ngModel)]="username" required="required">
                    </div>
                    <div style="margin-left: 40px;">
                        <span *ngIf="registrationForm.value.username && registrationForm.controls.username.errors"
                            style="font-size: 16px; color: red; ">Invalid input
                        </span>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 10px;">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-fill"></i></span>
                        </div>
                        <input type="email" class="form-control" name="email" formControlName="email"
                            [ngClass]="{'is-invalid': submitted && registrationForm.controls.email.errors}"
                            placeholder="Email Address" [(ngModel)]="email" required="required">
                    </div>
                    <div style="margin-left: 40px;">
                        <span *ngIf="registrationForm.value.email && registrationForm.controls.email.errors"
                            style="font-size: 16px; color: red; ">Invalid input
                        </span>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 10px;">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-lock-fill"></i></span>
                        </div>
                        <input type="password" class="form-control" name="password" formControlName="password"
                            [ngClass]="{'is-invalid': submitted && registrationForm.controls.password.errors}"
                            placeholder="Password" [(ngModel)]="password" required="required">
                    </div>
                    <div style="margin-left: 40px;">
                        <span *ngIf="registrationForm.value.password && registrationForm.controls.password.errors"
                            style="font-size: 16px; color: red; ">Password must be a combination of lower-case,
                            upper-case,
                            numbers and at least 9 characters long
                        </span>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 10px;">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="bi bi-check2"></i></span>
                        </div>
                        <input type="password" class="form-control" name="confirm_password"
                            formControlName="confirmPassword"
                            [ngClass]="{'is-invalid': submitted && registrationForm.controls.confirmPassword.errors}"
                            placeholder="Confirm Password" [(ngModel)]="confirmPassword" required="required">
                    </div>
                    <div style="margin-left: 40px;">
                        <span *ngIf="registrationForm.value.confirmPassword && confirmPassword != password"
                            style="font-size: 16px; color: red; ">Passwords do not match
                        </span>
                    </div>
                </div>
                <br>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-sm" style="width: auto;">Register</button>
                </div>
            </form>
        </div>
    </ng-template>
</div>