<div class="main-container">
    <div class="row align-items-center">
        <div class="col-6 d-inline-flex">
            <h1><i class="bi bi-cloud-arrow-up-fill" style="margin-right: 2px;"></i></h1>
            <h1 class="text-info"> <strong> Warehouse </strong></h1>
        </div>
        <div *ngIf="loaded" class="col-6">
            <div class="dropdown d-flex align-items-center" *ngIf="authService.isLoggedIn$ | async ">
                <span class="text-muted ms-auto me-1">{{user?.username}}</span>
                <span *ngIf="authService.loggedUser?.role == 'ADMIN'" class="text-muted me-2">(ADMIN)</span>
                <img *ngIf="user?.avatar != null" class="rounded-circle" style="width:48px;height:48px;" alt="avatar1"
                src="assets\user_id_{{authService.loggedUser?.id}}\avatar.jpg" alt="profile_pic"
                    data-bs-toggle="dropdown" aria-expanded="false" />
                <img *ngIf="user?.avatar == null" class="rounded-circle" style="width:48px;height:48px;" alt="avatar1"
                src="assets/default_avatar.png" alt="profile_pic"
                    data-bs-toggle="dropdown" aria-expanded="false" />
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="http://localhost:4200/user/{{authService.loggedUser?.id}}">
                        <i class="bi bi-person-lines-fill" style="margin-right: 2px;"></i> My Profile
                    </a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);" (click)="authService.logout()">
                        <i class="bi bi-box-arrow-right" style="margin-right: 2px"></i> Log Out
                    </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>