<div class="main-container">
    <div class="row">
        <div class="col-6">
            <h3 class="text-info">
                <i class="bi bi-cloud-arrow-up-fill" style="margin-right: 2px;"></i>
                Warehouse
            </h3>
        </div>
        <div *ngIf="loaded" class="col-6">
            <div class="dropdown d-flex flex-row-reverse" *ngIf="authService.isLoggedIn$ | async ">
                <img *ngIf="user?.avatar != null" class="rounded-circle" style="width:48px;height:48px;" alt="avatar1"
                src="data:image/png;base64, {{user?.avatar}}" alt="profile_pic"
                    data-bs-toggle="dropdown" aria-expanded="false" />
                <img *ngIf="user?.avatar == null" class="rounded-circle" style="width:48px;height:48px;" alt="avatar1"
                src="assets/default_avatar.png" alt="profile_pic"
                    data-bs-toggle="dropdown" aria-expanded="false" />
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="http://localhost:4200/user/{{authService.loggedUser?.id}}">
                        <i class="bi bi-person-lines-fill" style="margin-right: 2px;"></i> My Profile
                    </a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);" (click)="authService.logout()">
                        <i class="bi bi-box-arrow-right" style="margin-right: 2px"></i> Log Out
                    </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>